@import 'tailwindcss';

@font-face {
  font-family: 'Helveticaneue';
  src: url('../public/fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../public/fonts/HelveticaNeueItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --anim-duration: 300ms;
  --anim-ease: ease-in-out;
}
